<!doctype html>
<html lang="en">
  <head>
    <!-- utf-8 -->
    <meta charset="utf-8">
    <!-- Responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Robot Swarm Experiment: Trial 1</title>
  </head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/control-simulation.js')}}"></script>
  <script type=text/javascript>
          // Start simulation
          $(function() {
            // Specify the scenario to run
            scenario = 'trial1';
            $('a#start').on('click', function(e) {
              e.preventDefault();
              start_simulation(scenario);
            });
            return false;
          });

          // Connect to simulation
          $(function() {
            $('a#connect').on('click', function(e) {
              var link = 'http://0.0.0.0:8000?m={{mode}}&l=1';
              const ip_addr = document.getElementById('InputIP').value;

              // if form is not empty, connect to simulation running in a specific address
              if(ip_addr) {
                link = 'http://'+ip_addr+':8000?m={{mode}}&l=2';
              }
              
              // if user has an id, send the id to the simulation
              if("{{session.username}}" !== "None") {
                link += "&id={{session.username}}"
              }

              window.open(link, '_blank');
              return false;
            });
          });

          // Load user's existing IP address to another computer
          $(document).ready(function(){
            console.log("Existing host IP: {{session.host_ip}}");
            if("{{session.host_ip}}" !== "") {
              document.getElementById('InputIP').value = "{{session.host_ip}}";
            }
          });

          // Record the user's IP address to another computer
          $(function() {
            $('a#connect').on('click', function(e) {
              e.preventDefault()
              const host_ip = document.getElementById('InputIP').value;
              if(host_ip) {
                $.ajax({ 
                    url: '/background_process_record_host_ip', 
                    type: 'POST', 
                    data: host_ip
                })
                // document.getElementById('myCurrentID').innerHTML = host_ip;
              }
              return false;
            });
          });
  </script>
  <body class="text-center">
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <div class="container">
      <div class="row p-4 bg-light">
        <h1>Trial 1</h1>
        <p>Local simulation: <b id="simulationState" style="color:black;">UNKNOWN</b></p>
      </div>

      <div class="row p-4">
        <p>1. Press the <b>Start</b> button to begin the simulation.</p>
        <form>
            <a href=# id="start" class="btn btn-outline-success">Start</a>
        </form>
      </div>

      <div class="row p-4 bg-light">
        <p>2. Access the simulation from the link below.</p>
        <div class="row justify-content-md-center">
          <div class="col col-lg-3">
            <div class="form-group">
              <!-- <label for="InputIP">Optional Setting</label> -->
              <input type="text" class="form-control" id="InputIP" aria-describedby="ipHelp" placeholder="(Optional) Enter IP address">
              <small id="ipHelp" class="form-text text-muted">Use this when connecting to a simulation running on a different computer.</small>
            </div>
          </div>
        </div>
        <form>
          <a class="btn btn-link" href="#" id="connect" target="_blank">Connect to Simulation</a>
        </form>
      </div>

      <div class="row p-4">
        <p>3. Press the <b>Stop</b> button to finish the simulation.</p>
        <form>
            <a href=# id="stop" class="btn btn-outline-danger">Stop</a>
        </form>
      </div>

      <div class="row p-4 bg-light justify-content-center">
        <!-- Button to jump to /trainingpage -->
        <div class="col-2">
          <form action="/trainingpage" method="get">
            <input class="btn btn-outline-secondary" type="submit" value='&larr; Back'>
          </form>
        </div>
        <div class="col-2">
          <p">3 of 5</p>
        </div>
        <!-- Button to jump to /trial2page -->
        <div class="col-2">
          <form action="/trial2page" method="get">
            <input class="btn btn-outline-secondary" type="submit" value='Next &rarr;'>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>